.main-container{
  display: flex;
  justify-content: space-around;
}

.cards-container{

  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card-container{
  width: 350px;
  box-shadow: 4px 4px 8px gray;
  
}
.card{
  width: 300px;
  text-align: center;
  border: 1px solid gray;
}
.card-img{
  width: 100px;
}

.card-footer{
  display: flex;
  justify-content: space-around;
}

.cart-title{
  display: flex;
  justify-content: space-around;
}

.cart-info{
  display: flex;
  justify-content: space-around;
}