.main-container{
  display: flex;
  justify-content: space-around;
}

.card-container{
  width: 350px;
  box-shadow: 4px 4px 8px gray;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.card{
  width: 300px;
  text-align: center;
  border: 1px solid gray;
}
.card-img{
  width: 100px;
}

.card-footer{
  display: flex;
  justify-content: space-around;
}